langchain
langchain-community
langchain-core
langchain-tavily
langgraph
langchain-groq
langchain-ollama

pydantic

PyGithub

tavily-python
wikipedia
arxiv
youtube-search
youtube-transcript-api

requests